* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5% 10% 0% 10%;
    background-color: #f1f0f5;
}

.button-denuncia:hover {
    background-color: #0d2c4c;
}

.container-content-imprensa {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5% 10% 0% 10%;
    background-color: #f1f0f5;
}

.container-content-imprensa h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.button-denuncia {
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    width: 30rem;
    height: 2rem;
    background-color: #134780;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 100px;
}
