.button-exit {
    width: 20%;
    height: 2rem;
    background-color: #ff0000;
    border-radius: 2rem;
    border: none;
    color: white;
    font: bold;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #134780;
    margin-right: 6px;
}

.icon-help {
    position: relative;
    top: 3px;
    color: #134780;
    margin-right: 6px;
    font-size: 22px;
}

.icon-button {
    color: #9c9c9c;
    margin-right: 6px;
    font-size: 22px;
    margin-top: 6px;
    margin-right: 15px;
}

.sair {
    background-color: transparent;
    width: auto;
    height: auto;
    margin-top: 1.5rem;
}
