.container-body-register {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container-register {
    width: 30rem;
    height: 31rem;
    border-radius: 0.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
}

.header-card-register {
    color: aliceblue;
    font-size: 2rem;
    background-color: rgba(19, 71, 128, 1);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    padding-top: 2.5rem;
    border-radius: 0.3em 0.3em 0 0;
}

.body-card {
    padding: 1rem 0rem;
}

.body-card label {
    display: inline-block;
    width: 125px;
    margin-left: 4px;
}

.body-card input {
    display: inline-block;
    background-color: rgb(226, 227, 228);
    border-radius: 0.2rem;
    border: none;
    width: 16rem;
    height: 2rem;
    margin: 1rem 1rem;
    padding-left: 8px;
    padding-right: 8px;
}

.body-card button {
    width: 6rem;
    height: 2.5rem;
    background-color: rgba(19, 71, 128, 1);
    border-radius: 0.5rem;
    border: none;
    color: aliceblue;
    font: bold;
    margin-top: 15px;
}

.body-card button:hover {
    background-color: rgba(12, 43, 77, 0.8);
}

.error_register {
    margin-top: 2px;
    margin-bottom: -3px;
    margin-left: 5px;
    margin-right: 5px;
    color: red;
}
