*{
    margin: 0;
    padding: 0;
}
   
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-register{
    width: 30rem;
    height: 30rem;
    border-radius:.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-card-register{
    color:aliceblue;
    font-size: 2rem;
    background-color: rgba(19,71,128,1);
    text-align: center;
    width: 100%;
    height: 8rem;
    padding-top: 2.5rem;
    border-radius: .3em .3em 0 0;
}

.body-card{
    padding: 1rem;
}

.body-card button{
    width: 6rem;
    height: 2.5rem;
    background-color: rgba(19,71,128,1);
    border-radius: 0.5rem;
    border: none;
    color: aliceblue;
    font:bold;
}

.body-card button:hover{
    background-color: rgba(12, 43, 77, 0.8);
}

.body-card input{
    background-color: rgb(226, 227, 228);
    border-radius: 0.2rem;
    border: none;
    width: 15rem;
    height: 2rem;
    margin: 1rem 1rem;
}
