.search-container{
    display: static;
    align-items: center;
    background-color: #c0d6ee;
    height: 3rem;
    padding: 1% 10% 0% 10%;
    color: #fff;
}

.search-container input{
    background-color: white;
    border-radius: 0.2rem;
    border: 1px solid rgb(189, 188, 188);
    width: 15rem;
    height: 1.80rem;
    margin-top: 2px;
    padding-left: 4px;
    color:rgb(155, 153, 153);
}

.search-container-pesquisar{
    margin-left: 20px;
    border-radius: 0.1rem;
    width: 6rem;
    height: 2.3rem;
    background-color: rgba(19,71,128,1);
    border: none;
    color: aliceblue;
    font:bold;
}

.search-container-biblioteca{
    margin-left: 55rem;
    border-radius: 0.1rem;
    width: 12rem;
    height: 2.3rem;
    background-color: rgba(19,71,128,1);
    border: none;
    color: aliceblue;
    font:bold;
}